body{
margin: 0px;
background-color: #FFFDF7;
font-family: segoe print, bold;
}

.menu{
color: #F8F8FF;
background-color: #FFE086;
margin: 0px;
position: fixed;
opacity: 2%;
align-items: center;
transition:  0.6s;
}
.menu p{
  background-color: #FFE086;
}
.menu h2{
opacity: 100%;
position: relative;

}
.menu a {
color: white;
}
.menu:hover{
opacity: 100%;
border-bottom-right-radius: 40px;
}
.menu a:hover {
opacity: 100%;
color: white;
}
.menu-list{
margin:0px;
padding: 20px;
color: white;
justify-content: space-around;
text-decoration: none;
}
.classic-list{
list-style: none;
}
.vertical-list{
display: flex;
flex-flow: row;
}
.header-top{
  background-color: #FFE086;
  color: white;
  padding: 3px;
  padding-left: 19px;
  margin: 0px;
  position: fixed;
  width: 100%;
}
.div{
    list-style-type: none;
    position: absolute;
    transition: all 0.5s;
}
.div:hover{
  background-color: #d9d3c1;
  opacity: 75%;
  border-radius: 10px;
}
.div1{
    list-style-type: none;
}
.cheese-div{
  display: flex;
  margin-top: 70px;
  justify-content:center;
  align-items: center;
  width: 50%;
  transition: all 1s
}
.cheese-image{
  height: 300px;
  width: 300px;
  border-radius: 50px;
  border:  10px #FFE086 solid;
  transition: all 1s;
  position: relative;

}
.cheese-image:hover{
  border: 7px cyan solid;
  height: 380px;
  width: 380px;
}
.cheese-div:hover{
  border-radius: 50px;
}
.First-header{
  margin-top: 100px;
}
.about-image{
  margin: 100px;
  border-radius: 50px;
  height: 500px;
  width: 500px;
  border: 10px #FFE086 solid;
  transition: all 2s;
}
.about{
  display: flex;
  flex-flow: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Contacts{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  width: 20%;
  margin-top: 18%;
}
.div2{
list-style-type: none;
transition: all 0.5s;
}
